---
layout: layouts/base.njk
eleventyNavigation:
  key: Deepfakes teaching module
  parent: Misc
  order: 2
title: Deepfakes teaching module
---
<h1>Towards a Critical Understanding of Deepfakes: Developing a Teaching Module and More</h1>

<p>For my senior thesis in Science, Technology, and Society at Pomona College, I explored the emerging area of deepfakes from historical and philosophical perspectives. As part of this project, I created a teaching module in four parts that aims (1) to teach students, regardless of technical background, what deepfakes are, and (2) to provide students with analytical and theoretical background that would help them apply a critical lens to deepfakes, videos, photos, and other media.</p>

<p><a href="https://scholarship.claremont.edu/pomona_theses/239/" target="_blank">Follow this link</a> for the teaching module, located in Chapter 4 of my thesis here. You can also find supplementary materials, as well as the rest of my thesis, at the same webpage.</p>

<figure>
  <img src="composite.jpg" alt="A &quot;fake&quot; photo from 1950 that was used for political disinformation." height="348px" width="513px">
  <figcaption>A “fake” photo from 1950 that was used for political disinformation. The photo is stitched together from two separate photos and falsely depicts incumbent Democratic senator Millard Tydings in conspiratorial conversation with Earl Browder, former leader of the U.S. Communist Party.</figcaption>
</figure>