---
layout: layouts/base.njk
layoutVariant: showcase
eleventyNavigation:
  key: CV
  order: 4
title: Wentao Guo - CV
---
<h1>CV</h1>

<p>Last updated 2025-08-31. If you have trouble viewing the document below (only the first page displays on some mobile browsers), <a href="/cv/Wentao-Guo-CV.pdf" target="_blank">click here to view the PDF</a>.</p>

<iframe src="Wentao-Guo-CV.pdf" title="Wentao's CV"></iframe>