---
layout: layouts/base.njk
layoutVariant: showcase
eleventyNavigation:
  key: CV
  order: 4
title: Wentao Guo - CV
---
<h1>CV</h1>

<p>Last updated 2025-07-16.</p>

<iframe src="Wentao-Guo-CV.pdf" title="Wentao's CV"></iframe> 