---
layout: layouts/base.njk
eleventyNavigation:
  key: CV
  order: 4
  url: /cv/Wentao-Guo-CV.pdf
  newTab: true
title: Wentao Guo - CV
---
<h1>CV</h1>

<a href="/cv/Wentao-Guo-CV.pdf" target="_blank">View CV (PDF)</a>.