---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Wentao Guo
numNewPubs: 4
---
<div class="profile-box">
  <img src="img/Wentao.jpg" alt="Wentao Guo" height="300px" width="300px">
  <div>
    <h1>Wentao Guo</h1>
    <p class="affiliation">Postdoc @ Tufts University</p>
    <p class="detail"><a href="https://tsp.cs.tufts.edu/" target="_blank">Tufts Security and Privacy Lab</a></p>
    <p class="affiliation">Assistant professor @ University of Georgia</p>
    <p class="detail">starting Fall 2027</p>

    <p class="contact"><a href="mailto:wguo5@umd.edu" target="_blank"><i class="fa-solid fa-envelope"></i> wguo5@umd.edu</a></p>
    <p class="contact"><a href="https://bsky.app/profile/wentaoguo.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i> @wentaoguo.bsky.social</a></p>
    <p class="contact"><a href="https://x.com/wentaochirps" target="_blank"><i class="fa-brands fa-x-twitter"></i> @wentaochirps</a></p>
  </div>
</div>

<p>Hi! I am a postdoc at Tufts University, soon to be a professor in the School of Computing at the University of Georgia. As a human-centered researcher, I evaluate real-world challenges in computer security and privacy in order to design practical solutions. Much of my work focuses on the mental models, processes, and needs of practitioners such as software developers and scientists, who have disproportionate impacts on the security and privacy of ordinary users. I am excited about building partnerships outside of the research community to empower these practitioners directly.</p>

<h2>Work with me!</h2>

<p>I have funding to hire one or two graduate students to start at the University of Georgia in Fall of 2027. Students will be fully funded on a mix of research and teaching assistantships. I am looking for students with strong writing skills, a desire to engage with nuance, and the motivation to do good for people and society. I welcome students with interdisciplinary, industry, and/or military backgrounds. Before applying to UGA, please email me with your CV or résumé and a couple sentences about your research interests.</p>

<p>Here are just some research directions I am excited about:</p>
<ul>
  <li>Supporting social, behavioral, and health scientists with disclosure avoidance when publishing data.</li>
  <li>Evaluating outcomes of cybersecurity professional programs.</li>
  <li>Reducing the burden on end users to protect themselves from scams.</li>
  <li>Exploring nascent efforts around healthy use of personal technology (e.g., dumbphones, Luddite Clubs, social media bans).</li>
</ul>

<p>I encourage prospective students to consider applying for fellowships, such as <a href="https://www.nsfgrfp.org/" target="_blank">NSF GRFP</a> and <a href="https://ndseg.org/" target="_blank">DoD NDSEG</a> (both due Oct/Nov). Applying before grad school does not prevent you from trying again in a future year; receiving a fellowship is prestigious and provides your own source of funding for several years (i.e., flexibility to pursue research directions of your own interest). I am potentially able to provide input and feedback on your application, so please reach out early to discuss!</p>

{% set pubCount = collections.pub | length %}
<h1 style="margin-bottom: 0">Recent Publications</h1>

<p>* <i>indicates mentored undergraduate student</i></p>

{% set publist = collections.pub | head(-1 * numNewPubs) %}
{% include "publist.njk" %}

{% set morePubs = pubCount - numNewPubs %}
{% if morePubs > 0 %}
<p><a href="/publications/">More publications</a></p>
{% endif %}