---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Wentao Guo
numNewPubs: 3
---
<div class="profile-box">
  <img src="img/Wentao.jpg" alt="Wentao Guo" height="300px" width="300px">
  <div>
    <h1>Wentao Guo</h1>
    <ul>
      <li>PhD student in Computer Science<br>
          @ University of Maryland</li>
    </ul>
    <ul>
      <li><a href="https://sp2.umiacs.io/" target="_blank">SP2 Lab</a> (Security, Privacy, People)</li>
      <li><a href="https://cyber.umd.edu/" target="_blank">MC2</a> (Maryland Cybersecurity Center)</li>
      <li><a href="https://www.hcil.umd.edu/" target="_blank">HCIL</a> (Human-Computer Interaction Lab)</li>
      <li>Email: <a href="mailto:wguo5@umd.edu">wguo5@umd.edu</a></li>
    </ul>
  </div>
</div>

<p>Hi! My name is Wentao (he/him), and I study human-centered security and privacy, advised by <a href="https://users.umiacs.umd.edu/~mmazurek/" target="_blank">Michelle Mazurek</a>. My research focuses on helping professionals and institutions share responsibility for protecting consumers' security and privacy. Most recently, I interviewed professional product reviewers to understand their role in evaluating security and privacy for Internet-connected devices, apps, and other software. I also have specific interests in technology public policy, security and privacy for vulnerable and less visible communities, and trust and trustworthiness online (spanning topics from misinformation to deepfakes). Previously, I have done research in computer science on visualizing privacy policies, research in history and philosophy on deepfakes, and research in the digital humanities on narratives shaping settler colonialism in the American Midwest.</p>

<p>I am also a climate advocate (currently serving on College Park's Committee for a Better Environment), swimmer, and musician (piano and voice).</p>

{% set pubCount = collections.pub | length %}
<h1>Recent Publications</h1>

{% set publist = collections.pub | head(-1 * numNewPubs) %}
{% include "publist.njk" %}

{% set morePubs = pubCount - numNewPubs %}
{% if morePubs > 0 %}
<p><a href="/publications/">More publications</a></p>
{% endif %}