---
layout: layouts/base.njk
eleventyNavigation:
  key: Misc
  order: 3
title: Wentao Guo - Miscellaneous
---
<h1>Miscellaneous</h1>

<ul>
	{%- for page in collections.misc %}
	<li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
	{%- endfor %}
</ul>