---
layout: layouts/base.njk
eleventyNavigation:
  key: Publications
  order: 2
title: Wentao Guo - Publications
---
<h1>Publications</h1>

<p>You can also check my <a href="https://scholar.google.com/citations?user=6nJA8pYAAAAJ" target="_blank">Google Scholar page</a>.</p>

<p>* <i>indicates mentored undergraduate student</i></p>

{% set publist = collections.pub %}
{% include "publist.njk" %}
