{# Set publist: a subset of the pub collection. Iff publist is not the entire collection, also set pubCount: the length of the entire pub collection (i.e., it may be greater than publist.length). #}
{%- css %}.publist { counter-reset: start-from {{ (pubCount or publist.length) + 1 }} }{% endcss %}

<ol reversed class="publist">
{% for pub in publist | reverse %}
	<li class="pub-metadata">
		<p class="publist-title">{{ pub.data.title }}</p>
		{% set metadata = pub.data %}
		{% include "pub-metadata.njk" %}
	</li>
{% endfor %}
</ol>
