---
layout: layouts/base.njk
eleventyNavigation:
  key: Choir concert
  parent: Misc
  order: 3
title: Choir concert
---

<h1>UMD Chamber Singers spring 2025 concert</h1>

<p>I've been fortunate to be a part of many great choirs over the years, and I am proud of the music we've made. Some of the coolest places I've performed are St. Peter's Basilica and the Kennedy Center. This is a recording of my last performance with the UMD Chamber Singers in the spring of 2025. <a href="https://theclarice.umd.edu/sites/default/files/program-notes/20250414_Spring%20Choral%20Showcase_v4_WEB.pdf" target="_blank">Concert program here.</a></p>

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/958422228?h=384f5856e5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479#t=1302" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Spring Choral Showcase: UMD Chamber Singers - May 2025"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>