---
layout: layouts/base.njk
layoutVariant: showcase
title: "ChefGPT: An Eggcellent Cookbook"
---
<h1>ChefGPT: An Eggcellent Cookbook</h1>

<iframe src="ChefGPT - An Eggcellent Cookbook.pdf" title="ChefGPT - An Eggcellent Cookbook"></iframe> 