---
layout: layouts/base.njk
layoutVariant: showcase
title: Interactive fiction flash talk
---
<h1>Interactive Fiction Flash Talk</h1>

{# Change the background color if it's not handled in the original page (check by changing to the dark color scheme) #}
<iframe src="home.html" title="Interactive Fiction Flash Talk" style="background-color: white;"></iframe> 