<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="icon" type="image/x-icon" href="/img/favicon.png">

		{#- Using `eleventy-plugin-bundle`, add to the CSS bundle and then render using inlined CSS #}
		{% css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>
		
		<script src="https://kit.fontawesome.com/c351328cb0.js" crossorigin="anonymous"></script>
	</head>
	<body {% if layoutVariant == "showcase" %}class="showcase"{% endif %}>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Using `eleventy-navigation` #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{% for entry in collections.all | eleventyNavigation %}
					<li class="nav-item">
						<a href="{{ entry.url }}"
							{% if entry.url == page.url %} aria-current="page"{% endif %}
							{% if entry.newTab %}target = "_blank"{% endif %}>
							{{ entry.title }}
						</a>
						{% if entry.children.length %}
						<ul class="nav-dropdown">
							{% for child in entry.children %}
								<li class="nav-item">
									<a href="{{ child.url }}">{{ child.title }}</a>
								</li>
							{% endfor %}
						</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</nav>

		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

	</body>
</html>
