---
layout: layouts/base.njk
---

<div class="pub-metadata">
	<h1>{{ title }}</h1>
	{# by all rights, it should be easier to pass this data, which is front matter in pubs, but unfortunately you have to go this circuitous route to get a parent element for this data; e.g., see https://github.com/11ty/eleventy/issues/338 #}
	{% set metadata = (collections.pub | findCollectionElemByUrl(page.url)).data %}
	{% include "pub-metadata.njk" %}
</div>

{# <ul class="pub-taglist">
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="pub-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul> #}

{{ content | safe }}

{# {%- if collections.pub %}
{%- set previousPub = collections.pub | getPreviousCollectionItem %}
{%- set nextPub = collections.pub | getNextCollectionItem %}
{%- if nextPub or previousPub %}
<ul class="links-nextprev">
	{%- if previousPub %}<li>Previous: <a href="{{ previousPub.page.url }}">{{ previoustitle }}</a></li>{% endif %}
	{%- if nextPub %}<li>Next: <a href="{{ nextPub.page.url }}">{{ nexttitle }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}